/* 
    Now Lets talk about selectors

    tag selectors
    class selectors
    id selectors

    color
      color name
      rgb color code
        red
        green
        blue
      hex color code
        
    Size 

    0-255

    px
    %
    em
    rem

*/

body {
  font-size: 50px;
}

p {
  font-size: 2rem;
}

#shape {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid cyan;
}
